
.idea/dictionaries/tarzonz.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/observationDR.iml
.idea/vcs.xml
project_backup
project_backup/*
__pycache__/*
inclinometer_fig.PNG
temped_fig.png
temped_fig.png
temped_fig.png
